<!DOCTYPE html>
<html lang="en">
    <body>
        <form action="{{ url_for('enter_delete_f_mode') }}" method="POST">
            <h2>Delete Fail Mode Information</h2>

            Fail Mode ID<br>
            <input type="number" name="id" /><br>
{#            Component ID<br>#}
{#            <input type="number" name="component_id" /><br>#}
{##}
{#            Fail Mode ID<br>#}
{#            <input type="number" name="fail_mode_id" /><br>#}

            <input type="submit" value="submit" /><br>
        </form>
    </body>
</html>