<!DOCTYPE html>
<html lang="en">
    <body>
        <form action="{{ url_for('enter_edit_f_mode') }}" method="POST">
            <h2>Fail Mode Information</h2>

            #Num<br>
            <input type="number" name="num" /><br>

            ID<br>
            <input type="number" name="id" /><br>

            Fail Mode<br>
            <input type="text" name="fail_mode" /><br>

            Fail Code<br>
            <input type="number" name="fail_code" /><br>

            <input type="submit" value="submit" /><br>
        </form>
    </body>
</html>