<!DOCTYPE html>
<html lang="en">
    <body>
        <table style="width: 800px" border = 1>
            <thead>
                <td>#Num</td>
                <td>Mapping ID</td>
                <td>Component ID</td>
                <td>Fail Mode ID</td>
            </thead>

            {% for row in rows %}
                <tr>
                    {% for col in row %}
                        <td>{{col}}</td>
                    {%  endfor %}
                </tr>
            {% endfor %}
        </table>

        <a href = "/">Go back to home page</a>

   </body>
</html>