<!DOCTYPE html>
<html lang="en">
    <body>
        <form action="{{ url_for('enter_edit_mapping') }}" method="POST">
            <h2>Mapping Information</h2>

            #Num<br>
            <input type="number" name="num" /><br>

            Mapping ID<br>
            <input type="number" name="mapping_id" /><br>

            Component ID<br>
            <input type="text" name="component_id" /><br>

            Fail Mode ID<br>
            <input type="number" name="fail_mode_id" /><br>

            <input type="submit" value="submit" /><br>
        </form>
    </body>
</html>