<!DOCTYPE html>
<html lang="en">
    <body>
        <form action="{{ url_for('enter_com') }}" method="POST">
            <h2>Component Information</h2>

            ID<br>
            <input type="number" name="id" /><br>

            Component_name<br>
            <input type="text" name="component_name" /><br>

            Failure_rate<br>
            <input type="number" step="0.001" name="failure_rate" /><br>

            Contact<br>
            <input type="text" name="contact" /><br>

            Manufacturer<br>
            <input type="text" name="manufacturer" /><br>

            <input type="submit" value="submit" /><br>
        </form>
    </body>
</html>