<!DOCTYPE html>
<html lang="en">
    <body>
        <table style="width: 800px" border = 1>
            <thead>
                <td>#Num</td>
                <td>ID</td>
                <td>Component Name</td>
                <td>Failure Rate</td>
                <td>Contact</td>
                <td>Manufacturer</td>
            </thead>

            {% for row in rows %}
                <tr>
                    {% for col in row %}
                        <td>{{col}}</td>
                    {%  endfor %}
                </tr>
            {% endfor %}
        </table>

        <a href = "/">Go back to home page</a>

   </body>
</html>