<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Data Base</title>
        <link href="../static/site.css" rel="stylesheet">
    </head>

    <body>
        <div id="main">
            <h1>Welcome to Our Data Base</h1>
            <h2>Component List</h2>
                <form action="{{ url_for('add_comp') }}">
                    <input type="submit" value="Add" />
                </form>
                <form action="{{ url_for('list_comp') }}">
                    <input type="submit" value="View" />
                </form>
                <form action="{{ url_for('edit_comp') }}">
                    <input type="submit" value="Edit" />
                </form>
                <form action="{{ url_for('delete_comp') }}">
                    <input type="submit" value="Delete" />
                </form>
            <br>

            <h2>Fail Mode List</h2>
                <form action="{{ url_for('add_f_mode') }}">
                    <input type="submit" value="Add" />
                </form>
                <form action="{{ url_for('list_f_mode') }}">
                    <input type="submit" value="View" />
                </form>
                <form action="{{ url_for('edit_f_mode') }}">
                    <input type="submit" value="Edit" />
                </form>
                <form action="{{ url_for('delete_f_mode') }}">
                    <input type="submit" value="Delete" />
                </form>
            <br>

            <h2>Mapping List</h2>
                <form action="{{ url_for('add_mapping') }}">
                    <input type="submit" value="Add" />
                </form>
                <form action="{{ url_for('list_mapping') }}">
                    <input type="submit" value="View" />
                </form>
                <form action="{{ url_for('edit_mapping') }}">
                    <input type="submit" value="Edit" />
                </form>
                <form action="{{ url_for('delete_mapping') }}">
                    <input type="submit" value="Delete" />
                </form>
            <br>

            <h2>Dashboard</h2>
                <form action="{{ url_for('report1') }}">
                    <input type="submit" value="Top5 most bad quality components" />
                </form>
                <form action="{{ url_for('report2') }}">
                    <input type="submit" value="Top5 most used test devices" />
                </form>
                <form action="{{ url_for('report3') }}">
                    <input type="submit" value="Top3 highest PFR manufacturer" />
                </form>
            <br>
            
            <h2>Car-Net Detection Module</h2>
                <form action="{{ url_for('upload') }}">
                    <input type="submit" value="Upload" />
                </form>
                <form action="{{ url_for('train') }}">
                    <input type="submit" value="Train" />
                </form>
                <form action="{{ url_for('predict') }}">
                    <input type="submit" value="Predict" />
                </form>
                <form action="{{ url_for('evaluate') }}">
                    <input type="submit" value="Evaluate" />
                </form>
            <br>
                


            <br>
            <br>



        </div>

    </body>
</html>