<!doctype html>
<html lang="en">
   <body>

      result of evaluation : {{ msg }}
      <br>  
      Time of evaluation: {{ msg1 }} 
      <br>
      Testing loss: {{ msg2 }}
      <br>
      Testing accuracy: {{ msg3 }} 
      <br>


      <h2><a href = "/">go back to home page</a></h2>

   </body>
</html>