<!doctype html>
<html lang="en">
   <body>

      result of prediction: {{ msg }}
      <br>
      Confidende score: {{ msg1 }}
      <br>
      Time of prediction: {{ msg2 }} 
      <br>

      <h2><a href = "/">go back to home page</a></h2>

   </body>
</html>