<!doctype html>
<title>Upload new File</title>
<h1>Upload new File</h1>
<form action="{{ url_for('predict_img') }}" method="POST" enctype=multipart/form-data>
  <input type="file" name=file>
  <input type="submit" value=Upload>
</form>