<!doctype html>
<html lang="en">
   <body>

      result of training : {{ msg }}
      <br>
      Time of training: {{ msg2 }} 
      <br>

      <img src="/static/result.png" alt="Training Result" >
      <br>


      <h2><a href = "/">go back to home page</a></h2>

   </body>
</html>