<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<script src="https://code.jquery.com/jquery-3.5.0.js"></script>

<figure class="highcharts-figure">
    <div id="container"></div>
    <p class="highcharts-description">
        This is a column plot showing the top3 of the highest PFR manufacturer.
    </p>
</figure>

<script type="text/javascript">
    $(document).ready(function() {
         $.get('http://172.18.0.2:5000/data3',
            function (data) {
                {console.log(data)}
                data = data[0][0]
                var keys = Object.keys(data)
                var c_value = keys.map((key)=>{
                    return Number(data[key])
                })
                {console.log(keys)}
                {console.log(c_value)}
                var chart
                chart = new Highcharts.chart('container', {
                    chart: {
                        type: 'column',
                    },
                    title: {
                        text: 'Top 3 of the highest PFR manufacturer'
                    },
                    xAxis: {
                        categories: keys
                    },
                    yAxis: {
                        title: {
                            text: 'Averaged PFR (%) '
                        }
                    },
                    series: [{
                        name: 'PFR(%)',
                        data: c_value
                    }]
                });
            }
        );

    });
</script>